@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Jura', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}
body{
  background-image: url("../public/media/back.png");
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

